.DraggableColorBox{
   width: 20%;
   height: 25%;
   margin: 0 auto;
   display: inline-block;
   position: relative;
   cursor: pointer;
   margin-bottom: -3.5px;

}
.box-content-flex{
   display: flex;
   justify-content: space-between;
}
.DraggableColorBox:hover .delete-icon{

   color: white;
   transform: scale(1.4);

}
.delete-icon{
   transition: all 0.3s ease-in-out; /* Smooth color transition */
}
